*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

body {
  font-size: $font-size;
  color: $font-color;
  background: $body-background;
}

.container {
  margin: 0 auto;
  max-width: calc($container-width + 2 * $container-padding);
  padding: 0 $container-padding;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 100%;
  display: flex;
  flex-direction: column;
  gap: 180px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

.button {
  padding: 15px 40px;
  background: $gradient;
  color: $white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  // .button_o

  &_o {
    background: none;
    position: relative;
    background-clip: padding-box;
    background: $black;
    padding: 13px 38px;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      content: '';
      display: block;
      background: $gradient;
      border-radius: inherit;
      margin: -2px;
    }
  }
}

.section {
  &__header {
    margin: 0 auto;
    max-width: 680px;
    margin-bottom: 60px;
  }
  &__title {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
    color: $white;
  }
}
