// -------- COLORS -------- //
$black: #04040c;
$white: #f2f2f2;
$primary: #bc61f3;

$gradient: linear-gradient(100deg, #5c43f6 0%, #bc61f3 100%);
$gradient-reverse: linear-gradient(100deg, #bc61f3 0%, #5c43f6 100%);

// -------- INTERFACE -------- //
$font-family: 'Montserrat';
$heading-font-family: 'Montserrat';
$font-size: 19px;
$font-color: $white;

$body-background: $black;

$container-width: 1440px;
$container-padding: 10px;
