.footer {
  margin-top: 180px;
  // .footer__container

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 90px;
    @media screen and (max-width: 1023.98px) {
      flex-wrap: wrap;
      row-gap: 40px;
    }
  }

  // .footer__col

  &__col {
    display: flex;
    flex-direction: column;
    gap: 24px;
    // .footer__col_md

    &_md {
      width: 40%;
      padding-right: 160px;
      @media screen and (max-width: 1460px) {
        padding-right: 80px;
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    // .footer__col_sm

    &_sm {
      flex: 1;
      @media screen and (max-width: 1024px) {
        flex: none;
        width: calc(25% - 20px);
      }
      @media screen and (max-width: 768px) {
        width: calc(50% - 10px);
      }
    }
  }

  // .footer__logo

  &__logo {
  }

  // .footer__description

  &__description {
  }

  // .footer__social

  &__social {
    display: flex;
    align-items: center;
    gap: 16px;
    a {
      display: inline-flex;
      width: 46px;
      height: 46px;
      background: rgba(134, 155, 223, 0.14);
      border: 1px solid rgba(83, 84, 136, 0.4);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      transition: background 0.2s ease-in-out;
      &:hover {
        background: rgba(134, 155, 223, 0.32);
      }
    }
  }

  // .footer__title

  &__title {
    font-size: 22px;
  }

  // .footer__nav

  &__nav {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    a {
      text-decoration: none;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .footer__copyright

  &__copyright {
    text-align: center;
    padding: 32px 10px;
  }
}
