.header {
  position: fixed;
  top: 38px;
  left: 0;
  right: 0;

  // .header__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__nav

  &__nav {
  }

  // .header__actions

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
.nav {
  // .nav__list

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  // .nav__item

  &__item {
  }

  // .nav__link

  &__link {
    text-decoration: none;
    color: $white;
    position: relative;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $primary;
    }
    &_active {
      color: $primary;
    }
  }
}
