.hero {
  min-height: 100vh;
  padding-top: 180px;
  @media screen and (max-width: 768px) {
    padding-top: 120px;
  }

  // .hero__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }

  // .hero__col

  &__col {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    @media screen and (max-width: 1460px) {
      max-width: 560px;
    }
    @media screen and (max-width: 1023.98px) {
      max-width: 460px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
  }

  // .hero__title

  &__title {
    font-size: 96px;
    font-weight: 900;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: 1460px) {
      font-size: 80px;
    }
    @media screen and (max-width: 1023.98px) {
      font-size: 64px;
    }
    @media screen and (max-width: 500px) {
      font-size: 48px;
    }
  }

  // .hero__text

  &__text {
    margin: 32px 0 64px 0;
    @media screen and (min-width: 768.02px) {
      max-width: 90%;
    }
    @media screen and (max-width: 768px) {
      margin: 32px 0;
    }
    @media screen and (max-width: 500px) {
      margin: 16px 0;
    }
  }

  // .hero__row

  &__row {
    display: flex;
    gap: 24px;
    align-items: center;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    @media screen and (max-width: 500px) {
      gap: 16px;
    }
    @media screen and (max-width: 424.98px) {
      flex-direction: column;
    }
  }

  // .hero__illustration

  &__illustration {
    width: 100%;
    max-width: 600px;
  }
}
