.partners {
  // .partners__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    img {
      max-height: 45px;
    }
    @media screen and (max-width: 1460px) {
      justify-content: space-evenly;
    }
  }
}
