.subscribe {
  // .subscribe__container

  &__container {
    display: flex;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 1023.98px) {
      flex-direction: column;
    }
  }

  // .subscribe__illustration

  &__illustration {
    flex: 1;
    max-width: 50%;
    @media screen and (max-width: 1023.98px) {
      max-width: 425px;
    }
    transform: scale(-1, 1);
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(rgba(#04040c, 0) 60%, #04040c);
      z-index: 100;
    }
  }

  // .subscribe__col

  &__col {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
    @media screen and (max-width: 1023.98px) {
      max-width: 100%;
      width: 100%;
      .section__header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0 auto 60px auto;
      }
    }
    @media screen and (max-width: 500px) {
      .section__header {
        margin: 0 auto 32px auto;
      }
    }
  }

  // .subscribe__form

  &__form {
    align-self: flex-start;
    @media screen and (max-width: 1023.98px) {
      align-self: center;
    }
    max-width: 600px;
    width: 100%;
    @media screen and (max-width: 550px) {
      .button {
        padding: 15px;
      }
    }
  }
}
